<%#= comment.user.username %>
<%#= comment.comment %>
<%#= time_ago_in_words(comment.created_at)%>

<tbody>
<% @post.comments.each do |comment| %>
  <tr>
    <td><h5><%= comment.comment %></h5></td>
    <td><small><%= time_ago_in_words(comment.created_at)%></small></td>
    <br>
  </tr>
<% end %>
</tbody>