
<div class="background">
  <div class="jumbotron">
    <h2>Welcome to the Disaster Informative Application!</h2>
    <p class="lead">
    </p>
  </div>
  <p align="center">
    <%= link_to 'Sign Up', new_user_registration_path(plan: 'free'), class: 'btn btn-primary sign-up' %>
  </p>
</div>